.footer
  .footer-main
    .container
      .row
        .col-md-3.contact.text-center
          = link_to (image_tag "footer_logo.png", class: "footer-logo"), root_path
          %h4 Contact Customer Care
          %p
            Monday — Friday,
            %br{ class: "visible-lg visible-md" }/
            9 am — 5 pm EST
            %br/
            help@mountdream.com
            
        .col-md-6.text-center.footer-center
          .subscription
            %h4 Entrepreneurship&nbsp;tips and&nbsp;inspiration sent to&nbsp;your&nbsp;inbox
            = render "shared/subscription_form", label: "Subscribe now"
                
          %ul.social.list-inline
            %li
              = link_to "#" do
                %i.fa.fa-google-plus
            %li
              = link_to "#" do
                %i.fa.fa-facebook
            %li
              = link_to "#" do
                %i.fa.fa-twitter
            %li
              = link_to "#" do
                %i.fa.fa-youtube-play
            %li
              = link_to "#" do
                %i.fa.fa-instagram
                
          %ul.footer-navbar.list-inline
            %li= link_to "Home", root_url
            %li= link_to "Post idea", post_idea_path
            %li= link_to "About", about_path
            %li= link_to "Help", "#"
            %li= link_to "Blog", "#"
            %li= link_to "Press", "#"
            %li= link_to "Careers", "#"
        
        .col-md-3.kickstarter.text-center
          = link_to (image_tag "kickstarter_badge.png"), "https://www.kickstarter.com/projects/1027706210/mount-dream-a-pre-kickstarter-tool-launching-on-ki/description", target: "_blank"
        
  .footer-copy
    .container.text-center
      %p
        &copy; Copyright&nbsp;2015 Mount&nbsp;Dream. All&nbsp;Rights&nbsp;Reserved
        &nbsp;&middot;&nbsp;
        = link_to "Privacy", privacy_path
        &nbsp;&middot;&nbsp;
        = link_to "Terms", terms_path
