.header
  .navbar.navbar-fixed-top
    .container{ role: "navigation" }
      .navbar-header
        = link_to root_url do
          = image_tag "header_logo.png", class: "navbar-brand"
        %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse
        %li= link_to "Login", login_path
        %li= link_to "About", about_path
        %li= link_to "Help", help_path
        %li= link_to "Got an idea?", post_idea_path, class: "btn btn-primary sharp"
        %li= link_to "Join for free", give_feedback_path, class: "btn default sharp"