.col-sm-3.sidebar
  %hr{ class: "visible-xs" }/
  %nav.well.static
    %h3 Contact customer care
    %p 
      Need help? 
      %br{ class: "hidden-xs" }/
      We are available Monday&nbsp;—&nbsp;Friday, 9&nbsp;am&nbsp;—&nbsp;5&nbsp;pm&nbsp;EST.
    = link_to "Submit Ticket", contact_customer_care_path, class: "btn sharp uppercase bold"
    
    %p You can also email us at #{mail_to "help@mountdream.com"}.

    %h3 Other resources
    %ul
      %li
        = link_to "Idea Safety", idea_safety_path
      %li
        = link_to "Tips for Video Pitch", tips_for_video_path
      %li
        = link_to "Before You Post", before_you_post_path