.row.subscription-form
  = form_tag do
    .col-sm-7.subscription-text-field
      = text_field_tag 'email', nil, required: true, placeholder: 'Enter your email address', class: "field"
    .col-sm-5
      = submit_tag label, class: "btn uppercase bold"