.about-culture-wrapper.about-tab
  .about.about-culture.text-center
    .container
      %h1 Culture & Values
      
      %h3 Mount Dream’s network is different from other networks on the web.
      
      .text-left
        %p Many networks thrive on controversy, negativity, and disputes between users. While creating controversy can help generate page views, our goal is different. Let's skip the arguments and insults — we’re a place where users can exchange ideas without all the drama.
        
      %h3 Our Single Core Value: Genuinely help others.

      .text-left
        %p Having a pure and worthy motive to help the people around you is the heart and soul of Mount Dream. This applies to our team, our network, and partners.
        %p Keeping in mind that sometimes, when giving feedback, the best way you can genuinely help someone is by telling them — respectfully — what you don’t like about their idea. 
        %p We believe that a network founded on this value is where people can flourish and reach their fullest potential, overcome their fears, and gain the courage to act. 
      