.about-mission-wrapper.about-tab
  .about.about-mission.text-center
    .container
      %h1 Mission
      %h3
        To help as many people as possible pursue their dream
        %br.visible-md.visible-lg/
        of starting a successful business.
        
      .text-left
        %p There are examples all around you of people with no prior experience who turned their idea into a million dollar business. Why&nbsp;can’t you be next?
        %p After spending time on Mount Dream, we want to open your eyes to the fact that you are no different than many people who have turned their dreams into a reality -- and now you have powerful tools and resources to improve your chances of success.
        
        .well
          %p “Whether you think you can, or you think you can’t, you’re right.”
          %span — Henry Ford, founder of Ford Motor Company

        %p
          Need help turning your idea into a business? We’ll offer you some free advice. Email #{mail_to "help@mountdream.com"}.
          
          