.about-story-wrapper.about-tab
  .about.about-story.text-center
    .container
      %h1 Our Story and Team
      
      .text-left
        %p
          After graduating Babson College in 2009,
          = link_to "highly rated", "http://www.babson.edu/news-events/babson-news/Pages/us-news-and-world-report-ranks-babson-no-1-for-entrepreneurship.aspx"
          for entrepreneurship, Michael Markarian noticed something odd.
        %p Many classmates and friends who believed in business or product ideas were not following through on their ideas and dreams. When considering why, he realized that in most cases, the common reasons for not getting started were not the real reasons that people were getting stuck.
        %br/

        %ol
          %li
            %span Not having enough money.
            They had money or could get the money if they were really committed. Plus, many ideas didn’t require much money to get started.
          %li
            %span Not having enough time.
            Sure, we are all busy, but less TV or social media would mean more free time to begin seeing if your idea is viable.
          %li
            %span Not having the knowledge.
            There is a wealth of information available on books and blogs, and many entrepreneurs will give you free advice if you ask the right way.
          %br/
            
        %p After much thought, Markarian realized the primary reason he and his friends were not following through was that they really didn’t know whether or not customers would be interested in their products or services. The feeling of uncertainty left them stuck.
        %p A simple, inexpensive tool to help entrepreneurs quickly connect with customers — instead of just asking friends and family whether they liked the idea — would be probably be valuable.
        
        %h3 Testing the idea
        
        %p Since Mount Dream did not yet exist, Markarian created a simple website using Squarespace. He recorded a video pitch of Mount Dream’s concept on his iPhone, set up a simple survey, and manually sent it out to lots of entrepreneurs he knew (and didn’t know).
        %p The feedback Markarian received opened his eyes to new ideas — and concerns — he never considered, which instantly made the Mount Dream concept stronger. The feedback was also particularly thoughtful, and seemed to be coming from a group of people who genuinely wanted to help. 
        %p At this moment, it was clear that getting quality feedback from potential customers would be extremely helpful to millions of people who want to get their dreams off the ground.
        
        %h3 Next came Kickstarter
        
        %p Funds were needed to build the actual Mount Dream site — Squarespace was fine for a test, but limiting. Markarian did not want to raise capital from investors yet and believed in staying lean until determining a profitable model.
        %p Kickstarter was the perfect next step, and also appropriate considering Mount Dream itself can be used as a pre-crowdfunding tool. Since many future Mount Dream customers would use tools like Kickstarter after Mount Dream, it was important to fully understand these tools and how to get the most value out of them.
        %p
          In December 2014, Mount Dream was funded with $51,070 — at the time, 5th most all-time for a Web project. Here is the video from our campaign (or feel free to
          = link_to "visit the Kickstarter campaign", "https://www.kickstarter.com/projects/1027706210/mount-dream-a-pre-kickstarter-tool-launching-on-ki"
          itself).
        
        .video-wrapper
          <iframe src="https://player.vimeo.com/video/127175589" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        %p We learned that Kickstarter is the last step before launching, not the first step many people believe it to be. For success on Kickstarter, there is a lot you need to do first — for instance, develop prototypes, find a manufacturer, create a powerful marketing plan for your campaign, and much more. This all requires time and money, which is why Mount Dream makes sense as a step before Kickstarter or Indiegogo to make sure your idea is worth putting all that effort into.
        
        %h3 Mount Dream: As of today
        
        %p Mount Dream is headquartered in Providence, RI.
        %p With Mount Dream, we now live in a world where procrastination & blind execution (without evidence) should both be things of the past. 
        %p We welcome anyone who wants to take part in bringing Mount Dream to the people who need it, and instilling a real sense of hope and promise for anyone with an idea and a dream.
        %br/
        
        %h4
          Interested in joining us? Email
          = mail_to "careers@mountdream.com"
          for a list of job openings.
        