.about-philosophy-wrapper.about-tab
  .about.about-philosophy.text-center
    .container
      %h1 Mount Dream Business Philosophy
      
      .text-left
        %p We encourage everyone to read and share Mount Dream’s business philosophy. Regardless of whether you use Mount Dream, we believe these ten principles can greatly improve your chance of being a successful entrepreneur.
        
        %p The following ten principles are indisputably true and commonly misunderstood by first time entrepreneurs.
        
        %ol.ol-circled.red
          %li
            %span Don’t let statistics discourage you.
            You’ve probably read that 9 out of 10 startups fail. Realize that not everyone has equal work ethic or persistence, and 42% of people fail because they pursue ideas without enough demand. You can improve your odds by following simple principles for success that most people neglect.
          %li
            %span Passion is vital, but not enough.
            Ever watch Shark Tank and see the person who bet the farm on an idea because they “believed” in it? The fact that you are passionate about – or fall in love with – your idea does not necessarily mean that customers are going to buy it.
          %li
            %span Persisting on a bad idea is a bad idea.
            Many entrepreneurs fail before they succeed. The act of “failing” means they stopped working on one idea to arrive at the idea that made them successful. Persist on your journey as an entrepreneur, not necessarily on every idea you pursue.
          %li
            %span Do something useful.
            Customers will exchange their hard-earned money for products and services only if it does something useful for them. No one will buy from you unless they find what you are doing to be useful — or valuable — to them.
          %li
            %span Protect your downside.
            Taking big risks does not make you a great entrepreneur. Most smart entrepreneurs look for ways to limit their exposure if a venture doesn’t work out. For instance, when starting Virgin Airlines, billionaire Richard Branson cut a deal with Boeing that he could return the planes at no further liability if the venture did not take off. You should take a similar approach.
          %li
            %span Customers make you successful, not investors.
            New companies regularly get funded with millions of dollars, and then go out of business. Raising money is sometimes a necessary part of building your business, but it doesn’t make you successful. Having customers buy your products or use your service is the only way to build a strong business.
          %li
            %span Seek expert advice for execution, not validation.
            Avoid asking “experts”: Will this sell? Very few people can speak on behalf of millions of people. Remember that even top investors turned down Google because they doubted they could beat Yahoo. Do ask experts how to find a manufacturer, how to drive traffic to your website, or how to build a great team.
          %li
            %span Ideas are <i>not</i> worthless.
            Many people misunderstand the statement that “ideas are worthless”. This statement is not true. There has never been a successful company in the history of the world that is founded on a bad idea. What is really meant by this statement is “ideas are worthless without execution.” This, of course, is true.
          %li
            %span Great execution does not make up for a bad idea.
            If customers do not want your idea, you will not generate revenue. Without revenue, you generate no cash – and cash is king. You will not be successful with a bad idea.
          %li
            %span A great idea does not make up for poor execution.
            Success requires taking action, on the right idea, in the right way. You must have all three elements. For instance, Uber was not the first company to try to build “Uber”.
          
        %p There is a bonus principle and it’s arguably the most important one of all. If you get this wrong, nothing else matters — you will not succeed.
        
        %h4.form-heading Enter your email in the box below and we will send you the bonus principle.

        .bonus-form
          = render "shared/subscription_form", label: "Get your bonus"
          