.about-what-is-wrapper.about-tab
  .about.about-what-is.text-center
    .container
      %h1 What is Mount Dream?
      %h4
        Mount&nbsp;Dream gets&nbsp;you unbiased feedback on your&nbsp;business or product&nbsp;idea
        %br.visible-md.visible-lg/
        from potential&nbsp;customers before you invest lots of time and money.
      %h4
        You can
        = link_to "post ideas", post_idea_path
        or you can
        = link_to "give feedback", give_feedback_path

  .section.about-the-old-way.text-center
    .container
      = image_tag "ways.gif", class: "visible-sm visible-md visible-lg visible-xs"

  .section.about-talking-to-customers.text-center
    .container
      %h1
        Talking to customers should be your first step when
        %br.hidden-sm.hidden-xs/
        you have a new idea because:

      .one.row
        .col-xs-7.col-xs-offset-5.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-8.step
          = image_tag "about_1.png"
          %p
            %span If you don’t, you probably won’t take action or follow-through.
            Isn’t the real reason you aren’t pursuing your idea that you don’t know whether potential customers will respond favorably?

      .two.row
        .col-xs-7.col-sm-6.col-md-4.step
          %p
            %span If you don’t, you risk pursuing a bad idea.
            Your greatest risk as an entrepreneur is falling in love with an idea that customers do not want.
          = image_tag "about_2.png"

      .three.row
        .col-xs-7.col-xs-offset-5.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-8.step
          = image_tag "about_3.png"
          %p
            %span If you don’t you will make (expensive) wrong assumptions about your customers.
            Connecting with customers allows you to fix incorrect assumptions, while it's inexpensive to do so.