.about-masthead
  .container
    %h1 About us
    %p I think it’s important to take as much feedback as you can from as many people as you can for whatever idea you have.
    %b - Elon Musk

.text-center
  %ul.about-navbar.list-inline
    %li= link_to "What is Mount Dream", "#", class: "what-is active"
    %li= link_to "Mission", "#", class: "mission"
    %li= link_to "Business Philosophy", "#", class: "philosophy"
    %li= link_to "Culture and Values", "#", class: "culture"
    %li= link_to "Our Story and Team", "#", class: "story"

= render "pages/about/what_is"
= render "pages/about/mission"
= render "pages/about/philosophy"
= render "pages/about/culture_and_values"
= render "pages/about/our_story"

.section-cta.text-center
  .container
    %h1 Pursue your dream, intelligently. 
    %h2 Start getting feedback now.
    = link_to "Post your idea", post_idea_path, class: "btn uppercase bold"
    = link_to "Contact customer care", contact_customer_care_path, class: "btn default uppercase bold"