= render "shared/help_masthead"

.section.help-center
  .container
    .row
      .col-sm-9.main-content.article
        = render "shared/help_breadcrumbs"
        
        %h1 Before You Post
        
        %p Ready to start getting customer feedback on your idea? Here are some points to remember to get the most value out of this experience.

        %h2 Have a thick skin

        %p Some people are not going to like your idea and that is just fine. Negative feedback will hurt at first, but you need to get feedback so you can make your idea stronger and ensure you are putting your time and money into a viable idea.

        %p You don’t need that many loyal customers to build a successful business. This should give you confidence to get the feedback, in spite of the fact that some people are not going to like it.

        %p Ask Nick Woodman, billionaire and founder of GoPro, if he cares that some people would never consider buying a GoPro.

        %h2 Listen, but don’t necessarily follow

        %p Gather and digest the feedback, then make up your mind. You make the final call.

        %p Avoid making impulsive changes to your idea based on any single opinion. You are looking for patterns. Does the market at-large seem to be excited? Do they understand your product or service? Are lots of people voicing the same concern? 

        %p Love for your idea can blind you from the truth. If lots of potential customers are giving you the same negative feedback, and you are considering not listening, ask yourself: Do I have a good reason to ignore this feedback or am I simply turning a blind eye?

        %h2 Ask the right people the right questions

        %p There can be great value in getting diverse opinions from anyone you can, but try to ask people for feedback who would buy your product or service. Your idea might be good, but the person you are asking for feedback may not understand the problem you are trying to solve.

        %p Also, bad questions can lead to bad data. Mount Dream Customer Care can advise you on what questions to ask to get the best results.
          
      = render "shared/help_sidebar"