.section.contact-customer-care
  .container
    .well-hero.text-center
      %h1 Contact Customer Care
      %hr/
      .text-left
        %p 
          All members of our Customer Care team know Mount Dream inside-out.
          %br/
          We’ll get you an answer right away.
        %p You can also email us at #{mail_to "help@mountdream.com"}.
      %br/
      .text-left
        = form_tag do
          = text_field_tag 'name', nil, required: true, placeholder: "Your name",
            class: "text-field"
          = email_field_tag 'email', nil, required: true, placeholder: "Your email address",
            class: "text-field"
          = text_area 'message', nil, required: true, placeholder: "What can we help you with?",
            class: "text-area"

          = submit_tag "Submit ticket", class: "btn uppercase bold"
          