.give-feedback-masthead
  .container
    %h1 
      Give feedback on new
      %br{ class: "visible-lg visible-md visible-sm" }/
      business and product ideas
    %h3
      Mount Dream connects you to entrepreneurs
      %br{ class: "visible-lg visible-md visible-sm" }/
      who need your honest feedback. 
      
    .login-wrapper 
      = render "shared/facebook_button"
      = render "shared/linkedin_button"

.section.give-feedback-how-mount-dream-works.text-center
  .container
    %h1 How Mount Dream Works
    .col-md-4
      = image_tag "icon_give_cutomer_feedback.png", class: "icon"
      = image_tag "arrow_1.png", class: "arrow visible-lg visible-md"
      %h2 Give Customer Feedback
      %p
        Friends and family are biased,
        %br{ class: "visible-lg" }/
        so entrepreneurs need your help.
        
    .col-md-4
      = image_tag "icon_earn_points.png", class: "icon"
      = image_tag "arrow_2.png", class: "arrow arrow_2 visible-lg visible-md"
      %h2 Earn Points
      %p 
        All feedback earn points, plus bonus
        %br{ class: "visible-lg" }/
        points for thoughtful feedback.
    .col-md-4
      = image_tag "icon_use_points.png", class: "icon"
      %h2 Use Points
      %p
        Exchange your points from new products
        %br{ class: "visible-lg" }/
        from Entrepreneurs getting started in America
        
.section.give-feedback-what-our-members-say.text-center
  .container
    .row
      %h1 What our members say:
      %br/
      .col-md-4
        = image_tag "jaclyn.jpg", class: "img-rounded"
      .col-md-8.members-say-description
        %h3 “I love to know that I am helping others. Instead of wasting my time on Facebook, I feel like I'm doing my small part to help companies get off the ground.”
        
        %h2 Jaclyn M
        %p Mount Dream Member since 2015
    
.section.give-feedback-how-to-get-started.text-center
  .container
    %h1 How to get started
    %h4 We aren't looking for business experts... we want every day consumers like you!
    .col-md-4
      = image_tag "icon_sign_up.png", class: "icon"
      = image_tag "arrow_1.png", class: "arrow visible-lg visible-md"
      %h2 Sign up for free
      %p
        Join for free using the Facebook 
        %br{ class: "visible-lg" }/
        or LinkedIn buttons on this page.
    .col-md-4
      = image_tag "icon_get_confidential.png", class: "icon"
      = image_tag "arrow_2.png", class: "arrow arrow_2 visible-lg visible-md"
      %h2 Get confidential
      %p You must agree to keep ideas that you view on Mount Dream confidential.
    .col-md-4
      = image_tag "icon_give_feedback.png", class: "icon"
      %h2 Give feedback
      %p
        Select ideas that look interesting and give 
        %br{ class: "visible-lg" }/
        the most helpful feedback possible.
        
.section.give-feedback-start-giving-feedback-now
  .container.text-center
    %h1 Start giving feedback now!
    %h3 Sign in to start browsing and responding to new ideas.
    %br/
    .text-center
      = render "shared/facebook_button"
      = render "shared/linkedin_button"