= render "shared/help_masthead"

.section.help-center
  .container
    .row
      .col-sm-9.main-content
      
        %h1 Popular Topics
        %hr/
        %br/
        
        .faq-tab.well
          %h2 
            Post an idea&nbsp;&nbsp;
            %i.glyphicon.glyphicon-chevron-down
          .questions
            .question
              %h4 How do I post an idea?
              %p You can start by filling out the form on the #{ link_to "post idea", post_idea_path } page. It’s quick and easy.
            .question
              %h4 Can I choose the questions that I ask members?
              %p Yes. Mount Dream Customer Care can suggest useful questions based on your idea and what you want to learn.
            .question
              %h4 Can I get feedback from a specific target market only?
              %p Yes, you can specify the target audience you want to reach. 
              %p As Mount Dream’s network grows, we can offer more and more precise targeting.
            .question
              %h4 How do I know my idea will not get stolen?
              %p Mount Dream does not guarantee that your idea will not get stolen. Nobody can make a claim like that in good faith. However, we believe we've created a safe environment for sharing ideas.
              %p Please visit our page on idea safety to learn more about this topic. Posting on Mount Dream is a personal choice and is not right for every person or idea.
            .question
              %h4 What is the cost of posting my idea?
              %p Mount Dream starts at $1 per response. You must purchase at least 25 responses.
              %p By adding questions and/or targeting specific markets, your price may increase up to $3 per response.
          
        .faq-tab.well
          %h2
            Give feedback on ideas&nbsp;&nbsp;
            %i.glyphicon.glyphicon-chevron-down
          .questions
            .question
              %h4 How do I start giving feedback on ideas?
              To start giving feedback, you can go to our #{ link_to "give feedback home page", give_feedback_path } and sign-up using Facebook or LinkedIn.
            .question
              %h4 Why can’t I register with just my email?
              %p We require login using Facebook or LinkedIn to enhance a sense of accountability on Mount Dream.
            .question
              %h4 How do I earn points?
              %p You earn points by giving quality feedback on ideas.
            .question
              %h4 How do you define quality feedback?
              %p Quality feedback has three characteristics:

              %ul
                %li Honest. The best way you can help an entrepreneur can be sharing what you don’t like about their idea.
                %li Thoughtful: Explaining the reasons why you feel the way you do, not simply stating “Good idea” or “I&nbsp;don’t like it”.
                %li Encouraging. Keeping an upbeat and positive attitude, especially when offering criticism.

              %p It may also be helpful to read about our #{ link_to "Culture & Values", about_path }, as our network is different from other networks.
              %p We are also looking for your opinion as a potential customer of the product or service, not as a business consultant.
            .question
              %h4 What do my points get me?
              %p You can redeem your points for products that were originally posted on Mount Dream.
          
        .faq-tab.well
          %h2
            Life after Mount Dream&nbsp;&nbsp;
            %i.glyphicon.glyphicon-chevron-down
          .questions
            .question
              %h4 Can I message back and forth with members who give me feedback?
              %p Yes.
              %h4 Can I message members who subscribe for a launch notification?
              %p When you are ready to launch, you can send up to three (3) messages to all users who subscribed for launch notifications. 
              %h4 What is the next step if I get positive results on my idea?
              %p It is now in your hands to execute your idea. Without execution, your idea is not worth anything. You have an idea that people want -- make the most of it.

      = render "shared/help_sidebar"
