.home-masthead.text-center
  %h1 Pursue your&nbsp;dream, intelligently
  %h3
    Before you spend any more time and money on your business or product idea,
    %br{ class: "visible-md visible-lg" }/
    make sure customers actually want it.
  = link_to "Post Your Idea", post_idea_path, class: "btn btn-primary sharp"
.section.home-how-it-works.text-center
  .container
    %h1 How it Works
    .row
      .col-md-4
        = image_tag "icon_pitch.png", class: "icon"
        = image_tag "arrow_1.png", class: "arrow visible-lg visible-md"
        %h2 Record your pitch
        %p
          Record a simple video pitch
          %br{ class: "visible-md visible-lg" }/
          explaining your idea.
      .col-md-4
        = image_tag "icon_target_market.png", class: "icon"
        = image_tag "arrow_2.png", class: "arrow arrow_2 visible-lg visible-md"
        %h2 Select your target market
        %p 
          Select target audience you want
          %br{ class: "visible-md visible-lg" }/
          feedback from.
      .col-md-4
        = image_tag "icon_relax.png", class: "icon"
        %h2 Sit back and relax
        %p
          We'll distribute your pitch and gather
          %br{ class: "visible-lg" }/
          feedback for you.

.section.why-use-mount-dream.text-center
  .container
    %h1 Why use Mount Dream
    %br/
    %br/
    .col-md-6.image-wrapper
      = image_tag "home_why_use.png"
    .col-md-6.list-wrapper.text-left
      %ol.ol-circled
        %li
          %h2 Put your idea into action.
          %p Without action, an idea can go no where.
        %li
          %h2 Make sure your idea is good.
          %p Find out before spending lots of time or money.
        %li
          %h2 Better understand your potential&nbsp;customers.
          %p Make better decisions and reach success quicker.
        %li
          %h2 Show proof of market interest to investors.
          %p Add substance to your pitch.
        %li
          %h2 Line up potential customer.
          %p Generate revenue quickly or find beta testers.
        %li
          %h2 Get “outside the box” ideas.
          %p A wide variety of perspectives to enhance the value you bring customers.
        %li
          %h2 Passion comes from traction.
          %p Motivation comes from knowing that you are onto something.

.section.the-highest-quality-feedback.text-center
  .container
    %h1 The highest quality feedback, starting at $1 per&nbsp;response
    
    %h4 Focus groups will cost you thousands of dollars and the quality of the feedback is not guaranteed.
    = image_tag "home_quality_feedback.png"
    
    %h3 Our members provide feedback that is honest, thoughtful, and encouraging.
    %h4 100% Quality Response Guarantee. If a response is not useful, you don't pay for it.
    
.section.join-the-movement.text-center
  .container
    %h1 Join the Movement
    %br/
    .col-md-6.cta-box-wrapper
      .cta-box-teal.cta-box.text-left
        %h2 Pursue your&nbsp;dream
        %p The first step in living your dream is making sure customers see value in your idea.
        %br/
        = link_to "Post your idea", post_idea_path, class: "btn outline bold uppercase"
    .col-md-6.cta-box-wrapper
      .cta-box-red.cta-box.text-left
        %h2 Help someone pursue their&nbsp;dream
        %p Give honest, thoughtful and encouraging feedback on new business ideas, and earn points that can be redeemed for products from American entrepreneurs.
        %br/
        = link_to "Start giving feedback", "#", class: "btn outline bold uppercase"
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    