= render "shared/help_masthead"

.section.help-center
  .container
    .row
      .col-sm-9.main-content.article
        = render "shared/help_breadcrumbs"
        
        %h1 Idea Safety

        %h3 How do I protect my idea from getting stolen?

        %p This is a common and reasonable question that we’ve all had at some stage with a big idea. On this page, we will outline Mount Dream’s stance on the topic and what we suggest you consider when making your decision about sharing your idea.

        %h3 We cannot guarantee safety of ideas

        %p Unfortunately, Mount Dream cannot guarantee the safety of your idea.

        %p However, we’ve put a number of measures in place to keep your idea far more secure than posting to an internet forum.

        %h3 How we create a safe environment

        %ul
          %li We are a closed network.
          %li We require users to sign-up using Facebook or LinkedIn profile.
          %li We require users to agree to keep all ideas confidential before viewing ideas.
          %li We only show your idea until the desired number of responses is received.
          %li We only show the complete results to the entrepreneur.

        %p The risk of someone stealing and pursuing your idea is slim, and with these five factors, we believe your risk is very minimal when using Mount Dream.

        %h3 Many entrepreneurs say not to worry about ideas getting stolen.

        %p Google it.

        %p The most common point is that the odds of someone copying your idea, and then actually following-through, and winning the market is small. 

        %p #{ link_to "This response", "http://qr.ae/RbMEIi", target: "_blank" } from Wikipedia founder Jimmy Wales is insightful.

        %h3 If you want a patent, go ahead.

        %p For some ideas, you should consider filing a patent or provisional patent application.

        %p This is especially true if your idea is a physical product that would be easy to duplicate.

        %p However, many ideas are not patentable at all. 

        %h3 The more common risk you face

        %p For most people, the fear of their idea getting stolen is totally crippling, so they don’t actually do anything. 

        %p In the meantime, someone else thinks of the idea on their own and beats you to the punch.

        %h3 This is a personal decision

        %p Research your options and read articles, then make the decision that is best for you. 

        %p Commit to the following: You will take action one way or another, and will not let the fear of your idea getting stolen lead to procrastination, loss of motivation, and never actually pursuing your dream.  

        %p This is precisely what happens to most people — and now you know better.
          
      = render "shared/help_sidebar"