.login-wrapper
  .login.container
    .well-hero.text-center
      %h1 Returning Users
      %hr/
      = render "shared/facebook_button"
      = render "shared/linkedin_button"
      %hr/
      %h3 New to Mount Dream?
      %p 
        Get started by
        %br{ class: "visible-xs" }/
        #{ link_to "joining our network for free", give_feedback_path }.

