.section.million-idea.text-center
  .container
    %h1 Think you&nbsp;have a&nbsp;$1,000,000&nbsp;idea?
    %h3 Don’t assume — get your idea in front of customers ASAP!

    .row
      .col-md-6.post-idea-video
        .video-wrapper
          <iframe src="https://player.vimeo.com/video/142270083" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        %p Watch our new commercial and learn why Mount Dream is <b>the perfect first step</b> for your business or product idea.

      .col-md-6.post-idea-form

        .form
          %h3.visible-xs.visible-sm Get&nbsp;started with&nbsp;Mount&nbsp;Dream right&nbsp;now
          = form_tag do
            = email_field_tag 'email', nil, required: true, placeholder: "Email",
              class: "field"
            = select_tag 'idea_type',
              options_for_select([['Type of idea', 1]], 1),
              class: "field"
            = select_tag 'idea_status', options_for_select([['Status of idea', 1]], 1), class: "field"
            = text_field_tag 'promocode', nil, required: false, placeholder: "Promo code",
              class: "field"

            = submit_tag "Continue »", class: "btn uppercase bold sharp"

        .well.hidden
          %h3 Congrats on taking the first step!
          %p A member of Mount Dream Customer Care will reach out to you with the next steps.
          %p In the meantime, start giving feedback on other ideas to get familiar with how Mount Dream works.
          = link_to "Start giving feedback", give_feedback_path, class: "btn uppercase bold"

.section-cta.text-center
  .container
    %h1 Got questions about posting your&nbsp;idea?
    %h4 Contact Mount Dream Customer Care today!
    = link_to "Submit ticket", contact_customer_care_path, class: "btn default uppercase bold"