.privacy
  .container
    %h1 Privacy
    %hr/
    %br/
    %br/ 
    
    %p MCM & CO., LLC (“Mount Dream”) respects the privacy of its users whether they use the MountDream.com website (“Site”) to participate in interactive programs or simply view the Site. The following Mount Dream privacy policy (“Privacy Policy”) is designed to inform you, as a user of the Site, about the types of information that Mount Dream may gather about or collect from you in connection with your use of the Site. It also is intended to explain the conditions under which Mount Dream uses and discloses that information, and your rights in relation to that information.

    %p Changes to this Privacy Policy are discussed at the top of this document. Each time you use the Site, however, the current version of this Privacy Policy will apply. Accordingly, each time you use the Site you should check the date of this Privacy Policy (which appears at the top of this document) and review any changes since the last time you used the site.

    %p If you have any questions or concerns regarding these Terms or the Services, please contact us at help@mountdream.com.
    
    %h2 What We Collect

    %p Mount Dream requires collecting the following information from you:

    %ul
      %li information (such as your name, email, current location, age, gender) that you provide by connecting your account with a third-party application like Facebook and then completing forms on the Site, including if you register as a user of the Service, subscribe to our newsletters, upload or submit any material through the Site, or request any information;
      %li your login and password details, in connection with the account sign-in process, which may be strictly through a service like Facebook;
      %li other personal information shared to us through the account sign-in process, such as your friends list in Facebook or Twitter followers
      %li details of any requests or transactions you make through the Service;
      %li information about your activity on and interaction with the Site and Services, such as your IP address and the device or browser you use;
      %li communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem);
      %li information that you submit to the Site in the form of comments, contributions to discussions, or messages to other users.

    %p We may also choose to keep a listing of all ideas that you’ve viewed, which videos you’ve viewed on which ideas, and which ideas you’ve viewed but did not provide feedback on.

    %p You acknowledge and agree that Mount Dream, in its sole discretion, may track, record, observe or follow any and all of your interactions within the Services. Except as otherwise provided herein the information you provide to us is used for Mount Dream's internal purposes only.

    %h2 What’s Private

    %p This data will not be publicly displayed or revealed to other users:

    %ul
      %li any payment information you provide
      %li your password details
      %li your IP address
      %li your phone number
      %li communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem)

    %p We don’t give your personal information to any third-party services, except when it’s necessary to provide Mount Dream’s service.

    %p We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Mount Dream’s legal rights.

    %h2 Information shared about respondents

    %p When you respond to an idea, the individual who posted the idea will know your account name, your age, your gender, your current location and any other information provided in your user profile. We will also allow these individuals to target specific types of users with their ideas, based on age, gender, current location, and other information collected through Facebook, another social site or entered manually by the user.

    %p If you opt in to receive email updates, the individual will not have direct access to your email address, but rather will send emails through Mount Dream.

    %h2Information shared with other parties

    %p We may allow advertisers the ability to choose demographic information of users who will see their offers.

    %p We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you. Unless we tell you differently, our agents do not have any right to use the Personal Information we share with them beyond what is necessary to assist us.
    
    %h2 Public information

    %p Basic profile information will be public to the Mount Dream community. However, no information on your profile will be viewable except by Mount Dream members. Members are able to click your profile and see information about you and will be able to view that information which you’ve provided, with the exception to your email address.

    %p While we'd prefer that all Users use their real names, Mount Dream offers an alias option for those who'd prefer more anonymity.

    %p We require all members to connect with Facebook (or another connected account, if available) to ensure that Mount Dream knows the identity of all users who access the site. This prevents people from making multiple accounts. 
    
    %h2 Uses of Your Personal Information

    %p We will use the personal information you provide to:

    %ul
      %li identify you when you sign in to your account;
      %li enable us to provide you with the Services;
      %li send you information we think you may find useful or which you have requested from us;
      %li send you email alerts for new ideas that match your profile
      %li administer your account with us;
      %li enable us to contact you regarding any question you make through the Service;
      %li analyze the use of the Service and the people visiting to improve our content and Services; and
      %li use for other purposes that we may disclose to you when we request your information.

    %p Mount Dream will not give any of your Personally Identifiable Information to any third party or otherwise disclose your Personally Identifiable Information without your express approval except: as reasonably necessary to fulfill your service request or purchase order, to third-party fulfillment houses, customer support, billing and credit verification services, and the like; to learn what you like and to improve the Services; to communicate with you regarding the Services and the Mount Dream's business; to comply with tax and other applicable law; as otherwise expressly permitted by this Agreement or as otherwise authorized by you; to law enforcement or other appropriate third parties in connection with criminal investigations and other investigations of fraud; in connection with a merger, sale, reorganization, dissolution or liquidation of Mount Dream businesses, to prospective or actual acquirers of Mount Dream assets; or as otherwise necessary to protect the Mount Dream, its agents and other users of the Services. Mount Dream can (and you authorize Mount Dream to) disclose any information about you to private entities, law enforcement agencies or government officials, as Mount Dream, in its sole discretion, believes necessary or appropriate to investigate or resolve possible problems or inquiries, or as otherwise required by law. Mount Dream may share general, demographic, or aggregated information with third parties about its Users and their User Content and Site usage, but that information will not include or be linked to any Personally Identifiable Information without your consent.


    %p We take securing your data and preserving your privacy very seriously. We never post anything to your Facebook, Twitter, or other third-party accounts without your permission. People who post will never get your email or other private information.

    %p
      %b We will never sell your data. 

    %h2 Email

    %p You agree that Mount Dream may communicate with you via email and any similar technology for any purpose relating to the Site.

    %p We do not want to overwhelm you with emails, though we want to send you alerts when new ideas go live on the site. This is because we want to get feedback for individuals with ideas quickly. Also, since there is a limited number of responses accepted, we want to notify you so you can quickly respond, earn points and participate. However, you always have the option to opt out of such email alerts.

    %p We may send you service-related announcements on the rare occasions when it is necessary to do so, as well as emails with various content you’ve requested, or that pertains to launching a new venture, new ventures launched by members, and other content we deem would be interested and that you’d be happy to read.


    %p We only want to send you email that is of value to you, so please keep us posted on this if you want to change your subscription at any time.

    %h2 Cookies

    %p Mount Dream may choose to use cookies at certain times to help recognize you as a repeat visitor and enhance your experience as a user of the site. In these cases, Mount Dream servers will send a cookie to your computer which will help us recognize your computer. This information may be used by us or third parties who are delivering content to you.

    %p Blocking cookies will prevent you from getting the full experience of our service. However, if you wish to block cookies, please visit www.allaboutcookies.org for more information.

    %h2 Conclusion
    
    %p Mount Dream may change, modify, add, or delete portions of this Privacy Policy at any time pursuant to the process disclosed above for changes to this Agreement. If you use the Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes. 
    
    %p To modify or delete the personal information you have provided to us, please log in and update your profile. We may retain certain information as required by law or for necessary business purposes.

    %p On request, we will give you a copy of all the personal information about you that we hold. This information is subject to a fee not exceeding the prescribed fee permitted by law. 
    
    %p People under 18 (or the legal age in your jurisdiction) are not permitted to use Mount Dream on their own, and so this privacy policy makes no provision for their use of the site.

    %p Information that you submit through the Service may be transferred to countries other than where you reside (for example, to our servers in the United States). We will protect all information we receive in accordance with this privacy policy.

    %p The Site and the Services is controlled and operated by Mount Dream from its offices within the United States of America. Mount Dream makes no representation that any aspect of the Services is appropriate or available for use in jurisdictions outside of the United States.