.terms
  .container
    %h1 Terms of Use
    %hr/
    %h2 Introduction

    %p Welcome to Mount Dream. By using this website (the “Site”) and services (together with the Site, the “Services”) offered by MCM & CO, LLC (including representatives, consultants, employees, officers, and directors — collectively, “Mount Dream,” “we,” or “us”), you (“Individuals”, “Respondents” — collectively, “Members” or “Users”) are agreeing to these legally binding rules (the “Terms”).

    %p We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice. If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the date these terms were last revised. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Use. If you do not agree to abide by these or any future Terms of Use, do not use or access (or continue to use or access) the Site or the Services. It is your responsibility to regularly check the Site to determine if there have been changes to these Terms of Use and to review such changes.

    %p If you have any questions or concerns regarding these Terms or the Services, please contact us at help@mountdream.com.


    %p The following are some of the important points highlighted in this document, in a matter that is easy to understand:

    %ul
      %li We expect you to keep all ideas you view on the site confidential.
      %li You retain ownership of any ideas you post (listed under “My Ideas”) and receive feedback on through the site.
      %li You agree that you (not a friend, colleague or family member) are the inventor and owner of any ideas you post on the site.
      %li Any feedback or information given that involves improvements to a product or service is owned by the person with the idea, not the person giving feedback.
      %li You agree that no content or information provided on the Site constitutes legal advice or a legal opinion.

    %p As it relates to confidentiality, intellectual property, and other related areas, you are entering into a relationship with other users, not Mount Dream. Similar to a site like Ebay, Mount Dream is not responsible for what happens between users. We are not liable for any damages or losses you experience as a result of using this service, including someone viewing your idea and pursuing it on their own, or any other scenario or result that occurs while using the service, or in the aftermath of using the service.

    %h2 About Mount Dream

    %p Mount Dream provides Individuals with the ability to get feedback on their business ideas and concepts from respondents. Individuals post ideas, along with the targeting criteria they want feedback from. Respondents then view the ideas and answer a variety of questions. Once the desired number of responses by the individual is received, the idea is removed from being visible by respondents, and the results are compiled and viewed by the individual who posted the idea.

    %p What is most special about Mount Dream is our community of “good people helping good people”. That is, a community dedicated to helping each other, building each other up in our pursuits of starting companies and strengthening economies. The terms hereby outlined are intended for the purpose of allowing us to build such a community.

    %p Respondents are neither employees nor agents of Mount Dream. The Site sends Respondents ideas that match their demographic criteria, and Respondent's answer a variety of questions to show their interest in the idea or concept.

    %p Please note that nothing in these Terms will be construed to make you an agent, employee or legal representative of Mount Dream. You will not be entitled to any benefits and you are solely responsible for your taxes.


    %h2 Registration

    %p Registration process is simple and has the following requirements:

    %ul
      %li Provide us accurate information, including but not limited to name, age, gender and current location.
      %li Maintain the confidence of all information you received during the course of your activities as a Respondent
      %li Register and login using your primary Facebook account

    %p By connecting to Mount Dream with a third-party service like Facebook, you give us permission to access and use your information from that service as permitted by that third-party service, and to store your log-in credentials for that third-party service.

    %p You’re responsible for all the activity on your account, and for keeping your password confidential. If you find out that someone’s used your account without your permission, you should report it to support@mountdream.com

    %p To sign up for an account, you need to be at least 18 years old, or old enough to form a binding contract where you live. If necessary, we may ask you for proof of age.

    %h2 Using Mount Dream

    %p Mount Dream thrives on being a community of “good people helping good people”. We all must have a common respect for one another, and build each other up to pursue our dreams. All users agree to the following:

    %h2 Giving Feedback

    %p When giving feedback, you agree to keep the following in mind:

    %ul
      %li Be encouraging to other members, even if you don’t like the idea, you can frame your critique constructively, and emphasize why you don’t like the idea, so the person can learn.
      %li Be honest and direct.
      %li Be thoughtful and take the time to explain why you feel the way that you do, so that users can evaluate whether or not your feedback is applicable.
      %li Be helpful, thinking of creating ways to help the individual move their business idea along.

    %h2 General Practices

    %ul
      %li Keep the law, never doing anything that infringes or violates other people’s rights, violates the law, or breaches any contract or legal duty you have toward anyone.
      %li Keep communication between users upbeat and positive, never doing anything threatening, abusive, harassing, defamatory, libelous, tortious, obscene, profane, or invasive of another person’s privacy.
      %li Not distribute software viruses, or anything else (code, films, programs) designed to interfere with the proper function of any software, hardware, or equipment on the Site (whether it belongs to Mount Dream or another party).
      %li Never try to gain access to another users account.
      %li Not crawl or spider any part of our site.

    %p You also agree that you shall not:

    %p (i) take any action or upload, post, e-mail or otherwise transmit to or via the Site any User Content that infringes or violates any third party rights, including without limitation all Intellectual Property Rights, or that constitutes any other Person's Proprietary Information; (ii) impersonate any Person without their consent, including, but not limited to, a Mount Dream employee, or falsely state or otherwise misrepresent your affiliation with any Person; (iii) take any action or upload, post, e-mail or otherwise transmit to or via the Site any User Content that violates any law or regulation; (iv) take any action or upload, post, e-mail or otherwise transmit to or via the Site any User Content as determined by Mount Dream at its sole discretion that is harmful, threatening, abusive, harassing, causes tort, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable; (v) take any actions or upload, post, e-mail or otherwise transmit to or via the Site any User Content that contains any viruses, Trojan horses, worms, spyware, time bombs, cancelbots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or Personally Identifiable Information; (vi) take any action or upload, post, email or otherwise transmit to or via the Site any User Content that would violate any right or duty under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements); (vii) upload, post, email or otherwise transmit to or via the Site any unsolicited or unauthorized advertising, or promotional materials, that are in the nature of "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation that the Mount Dream considers in its sole discretion to be of such nature; (viii) interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services; (ix) attempt to gain access to any other User's account or password; or (x) "stalk", abuse or attempt to abuse, or otherwise harass another user; (xi) charge any third party for use of the Site or the Services; or (xii) modify, adapt, reverse engineer, decompile or attempt to discover the source code of the Site or any of its algorithms that are utilized to allocate Influence. Any violation by you of the terms of the foregoing may result in immediate and permanent suspension or cancellation of your account and the forfeiture of any accrued Influence and any amounts otherwise due to you from the Company.

    %h2 Termination of Account

    %p Termination of accounts is not something we want to do, but is necessary to maintain the vibe of “good people helping good people”. In the cases when you are providing unhelpful feedback, or are violating any of the terms outlined above or throughout this document, Mount Dream has the right to terminate or suspend your account. Mount Dream is free to terminate (or suspend access to) your use of the Services or your account, for any reason in our discretion, including your breach of these Terms. Mount Dream has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms.


    %p You are also free to terminate your account at any time. Account termination may result in destruction of any Content associated with your account, so keep that in mind before you decide to terminate your account. We will try to provide advance notice to you prior to our terminating your account so that you are able to retrieve any important User Submissions you may have stored in your account (to the extent allowed by law and these Terms), but we may not do so if we determine it would be impractical, illegal, not in the interest of someone’s safety or security, or otherwise harmful to the rights or property of Mount Dream.

    %p Provisions that, by their nature, should survive termination of these Terms shall survive termination. By way of example, all of the following will survive termination: any obligation you have to pay us or indemnify us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms regarding disputes between us. 
    
    %h2 Fees

    %p Creating an account on Mount Dream is free.

    %p The fee for posting your idea on Mount Dream is per response, starting at $1. We may change our fees from time to time by posting the changes on the Mount Dream site.

    %h2 How Posting Works

    %p Mount Dream provides a feedback platform for its users, where an individual may post and idea and receives feedback from other users (collectively “User Content”). When an individual posts an idea on Mount Dream, they’re inviting other people to form a contract with them. Anyone who gives feedback on an idea is accepting the individuals offer, and forming that contract. Mount Dream is not a part of this contract — the contract is a direct legal agreement between the individual posting and respondent.

    %p As a condition of access to the Site and the Services, you release Mount Dream (and Mount Dream's shareholders, affiliates, directors, officers, subsidiaries, employees, and agents) from all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with any dispute you have or claim to have with one or more Users of the Site; including, without limitation, any claim that another User infringes upon your Intellectual Property Rights in any User Content that you may provide. You further understand and agree that: (a) Mount Dream will have the right but not the obligation to resolve disputes between Users relating to the Services, and Mount Dream's resolution of any particular dispute does not create an obligation to resolve any other dispute; (b) to the extent Mount Dream elects to resolve such disputes, it will do so in good faith based solely on the general rules and standards of the Services and will not make judgments regarding legal issues or claims; (c) Mount Dream's resolution of such disputes will be final with respect to the Site, and any points or rewards allocated due to the Users related to the foregoing, but will have no bearing on any real-world legal disputes in which Users of the Services may become involved; and (d) you hereby release Mount Dream (and Mount Dream's shareholders, affiliates, directors, officers, subsidiaries, employees, and agents) from all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with Mount Dream's resolution of disputes relating to the Site or the Services.


    %h2 Ownership of Content

    %p When you submit an idea to Mount Dream, you remain the owner of the idea. Mount Dream takes no ownership of the idea upon you submitting the idea to our Site. With all content submitted to our site, we do not own the content. But we do require certain licences from you to perform our services. By submitting any ideas, feedback or comments to the site, you agree the following:


    %p You understand and agree that by submitting User Content to any area of the Site, you automatically grant (and you represent and warrant that you have the right to grant) Mount Dream the right to (a) use, reproduce and distribute your User Content within the Services, as permitted by you through your interactions on the Services, (b) the perpetual and irrevocable right to delete any or all of your User Content from Mount Dream owned, controlled or used servers and from the Site, for any reason or no reason, whether intentional or unintentional, and, without any liability of any kind to you or any other party; and (c) the right to copy, analyze and use any of your User Content as Mount Dream may deem necessary or desirable for purposes of debugging, testing and/or providing support services in connection with the Services; and (ii) to other Users a limited license to access and use your User Content for their own personal use, in connection with participating on the Site, while giving feedback on your idea. Other than as expressly provided herein, no respondent shall acquire any license or ownership in other Individuals Idea. Further, you agree to grant to Mount Dream a royalty-free, worldwide, fully paid-up, perpetual, irrevocable, non-exclusive, sublicensable right and license to exercise the copyright, publicity, and database rights you have in your account information, including any data or other information generated by your account activity, in any media now known or not currently known, in accordance with our privacy policy as set forth below.


    %p When giving feedback and responses to ideas and concepts, you may come up with an improvement to this idea, which you agree to assign any and all rights, including intellectual property created from the feedback, to the person who posted the idea.


    %p You represent, warrant, and agree that you will not contribute any idea or User Content that is not your own, or otherwise infringes or violates the intellectual property rights or any other rights of anyone else (including Mount Dream).


    %p You further understand and agree that: (i) you are solely responsible for understanding all copyright, patent, trademark, trade secret and other intellectual property or other laws that may apply to your User Content hereunder, including without limitation, any rights or obligations you may or may not have concerning open source software; (ii) you are solely responsible for, and Mount Dream will have no liability in connection with, the legal consequences of any actions or failures to act on your part while using the Site, including without limitation any legal consequences relating to your or any other Person's Intellectual Property Rights or Proprietary Information; and (iii) Mount Dream's acknowledgement hereunder of your Intellectual Property Rights in your User Content does not constitute a legal opinion or legal advice, but is intended solely as an expression of Mount Dream's intention not to require Users of the Site to forego certain Intellectual Property Rights with respect to User Content they submit to the Site.


    %p Mount Dream retains ownership of User account data, regardless of any Intellectual Property Rights in User Content.

    %p You agree that even though you may retain certain copyright or other Intellectual Property Rights with respect to User Content that is submitted on the Site, you do not own the account you use to access the Site, nor do you own any data Mount Dream stores on its servers (including without limitation any data representing or embodying any or all of your User Content). Your Intellectual Property Rights in any User Content, if any, do not confer any rights of access to the Site, the Services or any rights to data stored by or on behalf of Mount Dream. 
    
    %h2 Confidentiality

    %h3 Giving Feedback

    %p You understand and agree that the ideas that may be provided to you are confidential. By agreeing to these terms, you are agreeing to hold all such information confidential and proprietary to the User who submitted the idea. You agree to keep in confidence and not to use, transfer, adapt, disclose or discuss with anyone any ideas you view on Mount Dream outside of the Site or Services.

    %p Furthermore, you may not copy or take screenshots and/or videos of any ideas, the Mount Dream platform and/or disclose this confidential information outside of the Mount Dream Site or Services, either in person, via the Internet, or any other form of communication.

    %p Confidential Information does not include information which is (i) in the public domain (other than as a result of a breach of this Agreement), (ii) rightfully in Respondent's possession prior to its receipt from the User pursuant to this Agreement, (iii) independently developed by Respondent, or (iv) rightfully received by Respondent from a third party without restriction on disclosure. 
    
    %h3 Submitting Ideas

    %p Although Mount Dream protects your information and idea submission using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration, such as through use of firewalls and data encryption, physical access controls to our data centers, and information access authorization controls, no system is 100% secure and Mount Dream cannot guarantee unauthorized disclosure of your idea. By posting an idea on Mount Dream through the “Site” or email submission, you hereby release Mount Dream and their respective directors, officers, shareholders, members, employees, and licensees from any and all claims or liabilities relating to your idea submission. You understand that no confidential or fiduciary relationship with Mount Dream is intended or created by making an idea submission to Mount Dream.

    %h2 Copyright Infringement

    %p The Digital Millennium Copyright Act lays out a system of legal requirements for dealing with allegations of copyright infringement. Mount Dream complies with the DMCA, and we respond to notices of alleged infringement if they comply with the law. We reserve the right to delete or disable content alleged to be infringing, and to terminate accounts for repeat infringers. (We do this when appropriate and at our sole discretion.)

    %p If you’d like to submit a claim of copyright infringement, please contact DMCA@mountdream.com

    %p Mount Dream will, upon receiving your notice of copyright infringement, will request more information and then take one or more of the following actions: (a) reasonably determine that the allegedly infringing Site Content is not infringing, and allow the Site Content to remain, (b) contact the Person who posted the allegedly infringing Site Content concerning your notice of infringement, and (c) remove the allegedly infringing Site Content. By your use of this Site, you expressly agree to and accept the foregoing DMCA compliance process, acknowledge its compliance with U.S. Copyright law, and waive any and all claims against Mount Dream directly relating to, or arising from, the foregoing DMCA compliance process.

    %h2 Warranty Disclaimer; Limitation of Liability

    %p You use our Services solely at your own risk. They are provided to you “as is” and “as available” and without warranty of any kind, express or implied.

    %p MOUNT DREAM SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF DEALING, COURSE OF PERFORMANCE, USAGE OF TRADE, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM MOUNT DREAM SHALL CREATE ANY WARRANTY.

    %p Mount Dream’s liability to you is expressly limited, to the extent allowable under applicable law

    %p IN NO EVENT SHALL MOUNT DREAM OR ANY OF ITS SHAREHOLDERS, AFFILIATES, DIRECTORS, OFFICERS, SUBSIDIARIES, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR TO ANY THIRD PARTY FOR ANY SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION ANY DAMAGES FOR LOST PROFITS, ARISING (WHETHER IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE) OUT OF OR IN CONNECTION WITH THE SERVICES OR THE SITE (INCLUDING WITHOUT LIMITATION ITS MODIFICATION OR TERMINATION), YOUR ACCOUNT (INCLUDING WITHOUT LIMITATION ITS TERMINATION OR SUSPENSION) OR THIS AGREEMENT, WHETHER OR NOT MOUNT DREAM MAY HAVE BEEN ADVISED THAT ANY SUCH DAMAGES MIGHT OR COULD OCCUR AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. IN ADDITION, IN NO EVENT WILL MOUNT DREAM'S CUMULATIVE LIABILITY TO YOU FOR DIRECT DAMAGES OF ANY KIND OR NATURE EXCEED ONE HUNDRED DOLLARS (U.S. $100.00). 
    Some jurisdictions do not allow the foregoing limitations of liability, so to the extent that any such limitation is impermissible, such limitation may not apply to you. You agree that Mount Dream shall not be held responsible or liable for anything that occurs or results from accessing the Site or participating in the Services.

    %h2 Indemnification

    %p If you do something that gets us sued, or break any of the promises you make in this agreement, you agree to defend, indemnify, and hold us harmless from all liabilities, claims, and expenses (including reasonable attorneys’ fees and other legal costs) that arise from or relate to your use or misuse of Mount Dream. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to this indemnification clause, in which case you agree that you’ll cooperate and help us in asserting any defenses.

    %h2 Quality of Feedback and Other Content

    %p While we aim to provide a high quality of feedback, all feedback must be evaluated by the individual. You are fully responsible for evaluating the results yourself and making your decision. Any feedback given by users or by Mount Dream staff is strictly a personal opinion, and does not constitute as anything more.

    %p The Company makes no representations or warranties regarding quality of any feedback provided and each Idea Submitter acknowledges and agrees to bear the risk that Users may not provide any meaningful feedback with respect to a Product Idea. There is also the risk that feedback is positive, but the venture is not profitable.


    %p Furthermore, you should understand that all new ventures are high risk, and your choice to pursue an idea is at your sole discretion. Business advice is our best practices from experience, not right for every business. You use your own discretion. Starting a business is a high risk venture and should be considered carefully before spending significant time or money on a venture.

    %h2 Mount Dream’s Intellectual Property

    %p Mount Dream’s Services are legally protected in various ways, including copyrights, trademarks, service marks, patents, trade secrets, and other rights and laws. You agree to respect all copyright and other legal notices, information, and restrictions contained in any content accessed through the Site. You also agree not to change, translate, or otherwise create derivative works of the Service.

    %h2 Monitoring User Content

    %p Mount Dream is not responsible or liable in any manner for any User Content posted on the Site or in connection with the Services. Although we provide rules for User conduct and postings, we do not control and are not responsible for what Users post, transmit or share on the Site and are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable Site Content you may encounter on the Site or in connection with any User Content. Mount Dream is not responsible for the conduct, whether online or offline, of any User of the Site or Services.

    %h3 Entire Agreement

    %p These Terms and the other material referenced in them are the entire agreement between you and Mount Dream with respect to the Services. They supersede all other communications and proposals (whether oral, written, or electronic) between you and Mount Dream with respect to the Services and govern our future relationship. If any provision of these Terms is found to be invalid under the law, that provision will be limited or eliminated to the minimum extent necessary so that the Terms otherwise will remain in full force and effect and enforceable. The failure of either you or Mount Dream to exercise any right provided for in these Terms in any way won’t be deemed a waiver of any other rights.

    %h3 No Assignment

    %p These Terms are personal to you. You can’t assign them, transfer them, or sublicense them unless you get Mount Dream’s prior written consent. Mount Dream has the right to assign, transfer, or delegate any of its rights and obligations under these Terms without your consent. Mount Dream will provide you notice via email, written notice, or by conspicuously posting the notice on our Site.

    %h3 Payments and Rewards; Forfeiture

    %p From time to time Mount Dream, at its sole discretion, may offer payments and rewards to users. Any payments or rewards to users, Mount Dream reserves the right to withhold or forfeit any such payments or rewards due to any User that has breached this Agreement or any of the other guidelines related to use of the Site.

    %h3 Site and Service Interruptions

    %p Mount Dream reserves the right to interrupt the Site with or without prior notice for any reason or no reason. You agree that Mount Dream will not be liable for any interruption of the Site, delay or failure to perform. Mount Dream has the right at any time for any reason or no reason to change and/or eliminate any aspect(s) of the Site and/or the Services as it sees fit in its sole discretion.
    
    %p
      %b All Data on the Company's Servers is subject to Deletion, Alteration or Transfer.

    %p When using the Site or the Services, you may accumulate Site Content, or other value or status indicators that reside as data on the Company's servers. THIS DATA, AND ANY OTHER DATA, ACCOUNT HISTORY AND ACCOUNT NAMES RESIDING ON MOUNT DREAM'S SERVERS, MAY BE DELETED, ALTERED, MOVED OR TRANSFERRED AT ANY TIME FOR ANY REASON IN MOUNT DREAM'S SOLE DISCRETION. Notwithstanding the foregoing, Mount Dream will maintain back-up records, and to the extent such information is deleted or otherwise altered, Mount Dream will use its best efforts to accurately recreate such information.

    %p YOU ACKNOWLEDGE THAT, NOTWITHSTANDING ANY COPYRIGHT OR OTHER INTELLECTUAL PROPERTY RIGHTS YOU MAY HAVE WITH RESPECT TO USER CONTENT YOU POST ON THE SITE, AND NOTWITHSTANDING ANY VALUE ATTRIBUTED TO SUCH USER CONTENT OR OTHER DATA BY YOU OR ANY THIRD PARTY, MOUNT DREAM DOES NOT PROVIDE OR GUARANTEE, AND EXPRESSLY DISCLAIMS (SUBJECT TO ANY UNDERLYING INTELLECTUAL PROPERTY RIGHTS IN THE USER CONTENT OR SITE CONTENT), ANY VALUE, CASH OR OTHERWISE, ATTRIBUTED TO ANY DATA RESIDING ON MOUNT DREAM'S SERVERS.

    %p YOU UNDERSTAND AND AGREE THAT MOUNT DREAM HAS THE RIGHT, BUT NOT THE OBLIGATION, TO REMOVE ANY SITE CONTENT (INCLUDING YOUR USER CONTENT) IN WHOLE OR IN PART AT ANY TIME FOR ANY REASON OR NO REASON, WITH OR WITHOUT NOTICE AND WITHOUT ANY LIABILITY OF ANY KIND. 
    
    %h3 Mount Dream Rights

    %ul
      %li We can make changes to the Mount Dream Site and Services without notice or liability.
      %li We have the right to decide who’s eligible to use Mount Dream. We can cancel accounts or decline to offer our Services. (Especially if you’re abusing them.) We can change our eligibility criteria at any time. If these things are prohibited by law where you live, then we revoke your right to use Mount Dream in that jurisdiction.
      %li We have the right to cancel any project, at any time and for any reason.
      %li We have the right to reject, cancel, interrupt, remove, or suspend any user content or project at any time and for any reason.

    %p Mount Dream is not liable for any damages as a result of any of these actions, and it is our policy not to comment on the reasons for any such action.

    %p Mount Dream is free to use for respondents and posting an idea starts at $1 per response. You’re responsible for paying any additional fees or taxes associated with your use of Mount Dream.

    %p Certain aspects of the Site, such as posting a Product Idea, may be for a fee or other charge. These fees and charges are described on the Site, and in the event you elect to use paid aspects of the Services, you agree to the pricing, payment and billing policies applicable to such fees and charges, posted on the Site. Mount Dream may add new services for additional fees and charges, or proactively amend fees and charges for existing services, at any time in its sole discretion. All fees paid to the Mount Dream are solely for services provided by Mount Dream through the Site and no payments made in connection with the Site should be made with any expectation by a User to receive any return payment.

    %p Mount Dream may contain links to other websites. (For instance, project pages, user profiles, and comments may link to other sites.) When you access third-party websites, you do so at your own risk. We don’t control or endorse those sites.

    %h2 Legal Disputes

    %p You and Mount Dream each agree that any and all disputes or claims that have arisen or may arise between you and Mount Dream, or you and another user of the Mount Dream’s Services, relating in any way to or arising out of this or previous versions of the Terms of Use, your use of or access to Mount Dream's Services, or any products or services sold, offered, or purchased through Mount Dream's Services shall be resolved exclusively through final and binding arbitration, rather than in court, except that you may assert claims in small claims court, if your claims qualify and so long as the matter remains in such court and advances only on an individual (non-class, non-representative) basis.

    %p Any arbitration under this Agreement will take place on an individual basis: class arbitrations and class actions are not permitted. YOU UNDERSTAND AND AGREE THAT BY ENTERING INTO THIS AGREEMENT, YOU AND MOUNT DREAM ARE EACH WAIVING THE RIGHT TO TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.

    %p The American Arbitration Association (AAA) will administer the arbitration under its Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes. The arbitration between you and Mount Dream will be held in the United States county where you live or work, Providence (RI), or any other location we agree to. The arbitration between you and another user of Mount Dream’s Services will be held in Providence (RI), or any other location you and the other user agree to.

    %h3 Governing Law

    %p We at Mount Dream encourage you to contact us if you’re having an issue, before resorting to a legal action. In the unfortunate situation where legal action does arise, these Terms (and all other rules, policies, or guidelines incorporated by reference) will be governed by and construed in accordance with the laws of the State of Rhode Island and the United States, without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods. You agree that Mount Dream and its Services are deemed a passive website that does not give rise to jurisdiction over Mount Dream or its parents, subsidiaries, affiliates, assigns, employees, agents, directors, officers, or shareholders, either specific or general, in any jurisdiction other than the State of Rhode Island. You agree that any action at law or in equity arising out of or relating to these Terms, or your use or non-use of Mount Dream, shall be filed only in the state or federal courts located in the State of Rhode Island, and you hereby consent and submit to the personal jurisdiction of these courts for the purposes of litigating any such action. You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.

    %h3 Copyright and Trademark Notices

    %p All contents of the Mount Dream Service are copyrighted © 2015 MCM & CO, LLC... All rights reserved. MOUNT DREAM is a trademark of MCM & CO., LLC. Other product and company names may be trademarks or service marks of their respective owners.