= render "shared/help_masthead"

.section.help-center
  .container
    .row
      .col-sm-9.main-content.article
        = render "shared/help_breadcrumbs"
        
        %h1 Tips for Video Pitch

        %p Wondering what to include in your video pitch on Mount Dream? Many people struggle to craft a pitch that is simple, clear, and appealing.

        %p Follow these 3 steps and you’ll be pitching like a pro in no time.

        %h2 Three Steps for An Excellent Pitch

        %h3 Step 1: Clearly state your idea. 

        %p If people do not understand what you do, they will not be able to give accurate feedback.

        %p Many entrepreneurs make the mistake of using vague terms when explaining their ideas, which confuses potential customers and results in inaccurate feedback. Avoid words like “revolutionary” or “ground-breaking”. 

        %p Instead, you could start by saying: “My idea is a [state what your idea is].”

        %h3 Step 2: Explain why customers will find it useful. 

        %p In business, customers exchange their money for your product or service only if it does something valuable for them -- usually solving an important problem.

        %p Use the next few lines to explain the reasons why you think your idea will be valuable to your customer base.

        %p You can say “I think customers will find this useful because [state the problem that you are solving and/or the biggest benefit your idea will give the customer].”

        %h3 Step 3: Give an example of a customer using your product or service. 

        %p Showing a “real life” example of how someone would use your product or service can help make your idea easier to understand. 

        %p Use the words “For instance”, then provide a “real life” example of someone using your idea.

        %p If we were pitching Mount Dream, we might say “For instance, let’s imagine Fred has a new idea for a business that he totally believes in, but is stuck because he’s not sure if his friends and family actually like his idea or are just being nice to him. He could post his idea on Mount Dream to get a wide variety of perspectives to see if customers are actually interested.”

        %h3 You don’t need to follow these rules exactly.

        %p And your pitch does not need to be “perfect”. In fact, there is no such thing as a perfect pitch. 

        %p As long as you are confident that your audience can clearly understand your idea, do yourself a favor and move forward. Otherwise, you are likely to procrastinate and do nothing.

        %p Your ability to improve your pitch begins when you actually start connecting with customers. You can start learning what they like, what they don’t like, and where they see the most value in your idea.

        %h2 Need help writing your pitch?

        %p A strong pitch is the foundation of your startup. We’ll help you craft it for $297.

        %p Fill out the form and someone from Mount Dream Customer Care will contact you with more details.
        
        = form_tag do
          = text_field_tag 'name', nil, required: true, placeholder: "Your name",
            class: "text-field"
          = email_field_tag 'email', nil, required: true, placeholder: "Your email address",
            class: "text-field"
          = text_area 'message', nil, required: true, placeholder: "What is the biggest challenge you are facing in launching your business idea?",
            class: "text-area"

          = submit_tag "Get help", class: "btn uppercase bold"
          
      = render "shared/help_sidebar"