// Reset 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, , summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav,  {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a img {
	border: none;
}
* {
  outline: none;
}


// Bootstrap 

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$color_primary: #2b9eaa;
$color_accent: #e34d4f;
$section_grey: #EFEFEF;
$grey: #616161;
$grey_active: #777777;
$medium_grey: #7b7b7b;
$medium_grey_active: #9A9A9A;
$light_grey: #B3B3B3;
$light_grey_active: #CCCCCC;
$lighter_grey: #E0E0E0;

@mixin transition($property, $time, $effect) {
  -webkit-transition: $property $time $effect;
  -moz-transition: $property $time $effect;
  -o-transition: $property $time $effect;
  transition: $property $time $effect;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}/* Firefox 19+ */
  &:-moz-placeholder           {color:$color;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$color;}
}

@mixin placeholder_icon($icon) {
  &::-webkit-input-placeholder::before { font-family: fontAwesome; content: $icon; }
  &::-moz-placeholder::before  { font-family: fontAwesome; content: $icon; } /* firefox 19+ */
  &:-ms-input-placeholder::before  { font-family: fontAwesome; content: $icon; } /* ie */
  &:-moz-placeholder::before  { font-family: fontAwesome; content: $icon; }
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

$field_types: "input[type=text], input[type=file], input[type=number], textarea, input[type=email], input[type=phone], input[type=password], select";

.nav > li > a:hover, .nav > li > a:focus {
  background-color: initial;
}


// General 

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  color: #282e37;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.65;
}
@media (max-width: 992px) {
  h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.15rem;
  }
}

a {
  color: $color_primary;
  &:hover, &:focus, &:active {
    color: $medium_grey;
    text-decoration: none;
  }
}

p {
  line-height: 1.6;
}

.field {
  margin-bottom: 20px;
}

.well {
  border-radius: 0;
}

hr {
  border-top: 1px solid #DADADA;
}

ul {
  margin-bottom: 20px;
  span {
    font-weight: 600;
    i {
      font-style: italic;
    }
  }
  li {
    list-style: disc;
    padding: 5px 0;
    margin-left: 20px;
    line-height: 1.6;
  }
}

ol {
  margin-bottom: 20px;
  span {
    font-weight: 600;
    i {
      font-style: italic;
    }
  }
  counter-reset: myCounter;
  li {
    list-style: decimal;
    padding: 5px 0;
    margin-left: 20px;
    line-height: 1.6;
  }
}

.ol-circled {
  counter-reset: myCounter;
  li {
    list-style: none;
    padding: 10px 0;
    margin-left: 60px;
    line-height: 1.7;
  }
  li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: $color_primary;
    display: inline-block;
    text-align: center;
    margin: 5px 10px 0 -60px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    font-weight: 600;
  }
  &.red {
    li:before {
      background: $color_accent;
    }
  }
}

.text-field {
  @extend .field;
  width: 100%;
  padding: 12px 22px;
  border: 2px solid $lighter_grey;
  border-radius: 4px;
  text-overflow: ellipsis;
  &:focus {
    border: 2px solid $color_primary;
  }
}

.text-area {
  @extend .text-field;
  height: 200px;
}

// Redefine buttons 

.btn {
  padding: 15px 34px;
  border: 0 none;
  font-weight: 400;
  color: #ffffff;
  background-color: $color_primary;
  &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.btn {
    background: #35ADB9;
    color: #ffffff;
    outline: 0 none;
  }
  &:active, &.active, &:active:hover, &:active:focus, &:active.focus, &.active:hover, &.active:focus, &.active.focus, .open > &.dropdown-toggle:hover, .open > &.dropdown-toggle:focus, .open > &.dropdown-toggle.focus {
    background: #238892;
    box-shadow: none;
    outline: 0 none;
  }
  &.sharp {
    border-radius: 0;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.bold {
    font-weight: 700;
  }
  &.default {
    background-color: #fff;
    color: $color_primary;
    &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.default {
      background-color: #EFEFEF;
    }
    &:active, &.active, &:active:hover, &:active:focus, &:active.focus, &.active:hover, &.active:focus, &.active.focus, .open > &.dropdown-toggle:hover, .open > &.dropdown-toggle:focus, .open > &.dropdown-toggle.focus {
      background-color: #E8E8E8;
    }
  }
  &.outline {
    background: none;
    padding: 12px 30px;
    border: 2px solid #fff;
    &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.outline {
      background: none;
      opacity: 0.8;
    }
    &:active, &.active, &:active:hover, &:active:focus, &:active.focus, &.active:hover, &.active:focus, &.active.focus, .open > &.dropdown-toggle:hover, .open > &.dropdown-toggle:focus, .open > &.dropdown-toggle.focus {
      background: none;
      opacity: 1;
      border-color: #A9A9A9;
      color: #A9A9A9;
    }
  }
  &.btn-primary {
    background-color: $color_accent;
    &:hover, &:focus, &:active, &.active, .open > .dropdown-toggle.btn-primary {
      background: #E85E60;
      outline: 0 none;
      border: 0;
    }
    &:active, &.active, &:active:hover, &:active:focus, &:active.focus, &.active:hover, &.active:focus, &.active.focus, .open > &.dropdown-toggle:hover, .open > &.dropdown-toggle:focus, .open > &.dropdown-toggle.focus {
      background: #B53B3C;
      box-shadow: none;
      outline: 0 none;
    }
  }
}


// Main Nav 

.navbar {
  @include transition(all, 0.3s, ease-out);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
  background-color: #fff;
  border: 0;
  min-height: 95px;
  &.fixed {
    min-height: 66px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  @media (max-width: 768px) {
    text-align: center; 
  }
}

.navbar-brand {
  @include transition(all, 0.3s, ease-out);
  padding: 0 0 0 15px;
  margin: 21px 0;
  height: 54px;
  &.fixed {
    margin: 14px 0;
    height: 40px;
  }
  @media (max-width: 992px) {
    height: 44px;
    margin: 26px 0;
  }
  @media (max-width: 768px) {
    padding: 0 0 0 20px;
  }
  @media (max-width: 319px) {
    float: none;
    padding: 0;
    margin: 15px 0 20px 0;
      &.fixed {
      margin: 15px 0 10px 0;
    }
  }
}

.navbar-nav {
  li {
    @include transition(all, 0.3s, ease-out);
    padding: 28px 0;
    margin: 0;
    text-align: center;
    a {
      color: #696969;
      font-size: 0.875rem;
      padding: 10px 20px;
      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
      &.btn {
        color: #fff;
        margin: 0 0 0 12px;
        padding: 10px 20px;
        &:hover, &:active, &:focus {
          color: #fff;
          text-decoration: none;
        }
        &.default {
          background-color: $color_primary;
          &:hover {
            background: #35ADB9;
          }
          &:focus, &:active, &:active:hover, &:active:focus {
            background: #238892;
          }
        }
        @media (max-width: 768px) {
          margin: 0;
        }
      }
      @media (max-width: 992px) {
        padding: 10px 12px;
      }
    }
    &.fixed {
      padding: 14px 0;
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      &.fixed {
        padding: 0;
      }
      a {
        border-top: 1px solid #ddd;
        padding: 15px 0;
        &.btn {
          padding: 15px 0;
          font-weight: 600;
          &.default, &.btn-primary {
            background-color: transparent;
            &:hover {
              background: transparent;
              border-top: 1px solid #ddd;
              text-decoration: underline;
            }
            &:focus, &:active, &:active:hover, &:active:focus {
              background: transparent;
            }
          }
          &.default {
            color: $color_primary;
          }
          &.btn-primary {
            color: $color_accent;
          }
        }
      }
    }
  }
}

.navbar-toggle {
  @include transition(all, 0.3s, ease-out);
  margin-top: 25px;
  margin-bottom: 25px;
  .icon-bar + .icon-bar {
    margin-top: 7px;
  } 
  .icon-bar {
    @include transition(all, 0.3s, ease-out);
    background: $color_primary;
    width: 30px;
    height: 4px;
  }
  &.fixed {
    margin-top: 15px;
    margin-bottom: 14px;
    .icon-bar + .icon-bar {
      margin-top: 5px;
    } 
    .icon-bar {
      background: $color_primary;
      width: 25px;
      height: 3px;
    }
  }
  @media (max-width: 319px) {
    float: none;
    display: block;
    margin: 0 auto 10px auto;
    &.fixed {
      margin: 0 auto 10px auto;
    }
  }
}


// Main content general 

.section {
  position: relative;
  padding: 55px 0 75px 0;
}

.section-cta {
  @extend .section;
  padding: 50px 0 80px 0;
  background-image: image-url("idea_got_questions_bg.jpg");
  background-color: #DBDFE2;
  background-position: top left;
  background-repeat: repeat;
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 35px;
  }
  h4 {
    margin-bottom: 35px;
  }
  h1 + h2 {
    margin-top: -20px;
  }
  .btn {
    margin: 0 7px;
    max-width: 300px;
  }
  @media (max-width: 768px) {
    .btn {
      margin: 0 auto 20px auto;
      display: block;
    }
  }
}

.icons-section {
  padding: 55px 0 75px 0;
  p {
    font-size: 1.1rem;
  }
  .icon {
    width: 100%;
  }
  .arrow {
    position: absolute;
    top: 34%;
    right: 0;
    opacity: 0.6;
    &.arrow_2 {
      right: -12%;
    }
  }
  @media (max-width: 992px) {
    .col-md-4 {
      max-width: 700px;
      padding: 0 40px;
      img {
        max-width: 400px;
      }
      img + h2 {
        margin-top: -20px;
      }
    }
  }
}

.well-hero {
  @extend .well;
  background-color: #fff;
  margin: 100px auto 100px auto;
  max-width: 500px;
  padding: 20px 40px 40px 40px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  @media (max-width: 400px) {
    margin: 0 auto 0 auto;
    padding: 10px 10px 30px 10px;
    box-shadow: none;
    border: none;
    background-color: #fff;
  }
}

.picture-masthead {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 185px 0 110px 0;
  h1 {
    font-size: 3rem;
  }
  h1, h3 {
    color: #fff;
  }
  h1 + h3 {
    margin-top: 36px;
  }
  @media (max-width: 992px) {
    padding: 185px 40px 100px 40px;
    h1 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
  @media (max-width: 768px) {
    padding: 160px 40px 80px 40px;
    h1 {
      font-size: 2rem;
    }
  }
  @media (max-width: 570px) {
    h1 {
      font-size: 1.725rem;
    }
  }
  @media (max-width: 480px) {
    padding: 150px 40px 90px 40px;
    h1 {
      font-size: 2rem;
    }
  }
  @media (max-width: 400px) {
    padding: 90px 40px 65px 40px;
    h1 {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  @media (max-width: 319px) {
    padding: 130px 40px 65px 40px;
  }
}

.rocket-masthead {
  background-color: #2b9eaa;
  color: #fff;
  .container {
    background-image: image-url('rocket_bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 140px 15px 60px 15px;
    p {
      padding-right: 250px;
    }
    @media (max-width: 768px) {
      padding: 120px 30px 50px 30px;
      background-size: auto 50%;
      p {
        padding-right: 150px;
      }
    }
    @media (max-width: 480px) {
      background-size: auto 40%;
      p {
        padding-right: 100px;
      }
    }
    @media (max-width: 415px) {
      padding: 85px 15px 50px 15px;
    }
    @media (max-width: 400px) {
      background-size: auto 30%;
      p {
        padding-right: 70px;
      }
    }
  }
}

.img-rounded {
  border-radius: 50%;
  padding: 10px;
  border: 3px solid $color_primary;
}

.login-masthead {
  .login-btn-wrapper {
    margin: 20px 20px 0 20px;
    float: left;
    width: 300px;
    .btn {
      padding: 20px 33px 20px 90px;
      font-size: 1.05rem;
    }
    .divider {
      left: 65px;
    }
    i {
      font-size: 2.2rem;
      opacity: 0.6;
      left: 19px;
      top: 16px;
      &.fa-facebook {
        top: 17px;
        left: 23px;
      }
    }
  }
  @media (max-width: 430px) {
    .login-btn-wrapper {
      width: 100%;
      margin: 20px 0 0 0 ;
      .btn {
        padding: 15px 10px 15px 10px;
      }
      .divider {
        left: -65px;
      }
      i {
        left: -100px !important;
      }
    }
  }
}

// Home | Masthead 

.home-masthead {
  @extend .picture-masthead;
  background-image: image-url('home_masthead_bg.jpg');
  background-color: #5F7988;
  .btn {
    font-size: 1.25rem;
    padding: 20px 120px; 
  }
  h3 + .btn {
    margin-top: 47px;
  }
  @media (max-width: 768px) {
    .btn {
      font-size: 1.25rem;
      padding: 15px 100px; 
    }
  }
  @media (max-width: 570px) {
    .btn {
      font-size: 1.2rem;
      padding: 15px 0;
      width: 100%;
    }
  }
  @media (max-width: 400px) {
    h3 + .btn {
      margin-top: 30px;
    }
    .btn {
      font-size: 1.1rem;
      padding: 13px 0; 
    }
  }
}


// Home | How it works?

.home-how-it-works {
  @extend .icons-section;
}


// Home | Why use Mount Dream?

.why-use-mount-dream {
  background: $section_grey;
  padding: 50px 0 50px 0;
  h1 {
    color: $color-primary;
  }
  h2 {
    font-size: 1.5rem;
    margin: -3px 0 0 0;
  }
  p {
    font-size: 1.1rem;
  }
  .image-wrapper {
    padding: 40px 40px 0 40px;
    img {
      max-width: 100%;
    }
  }
  .list-wrapper {
    padding-left: 40px;
  }
  .ol-circled {
    li {
      padding: 10px 0;
      margin-left: 65px;
      line-height: 1.7;
      span {
        font-size: 1.2rem;
      }
    }
    li:before {
      font-size: 1.3rem;
      margin: 5px 10px 0 -65px;
      line-height: 45px;
      width: 45px;
      height: 45px;
    }
  }
  @media (max-width: 1200px) {
    .image-wrapper {
      padding: 140px 30px 0 40px;
    }
  }
  @media (max-width: 992px) {
    .image-wrapper {
      max-width: 400px;
      margin: 0 auto 80px auto;
      padding: 0 15px;
    }
    .list-wrapper {
      padding: 0 15px;
      max-width: 500px;
      margin: 0 auto 20px auto;
    }
  }
  @media (max-width: 480px) {
    padding: 50px 0 40px 0;
    h2 {
      font-size: 1.1rem;
      margin: -3px 0 6px 0;
    }
    p {
      font-size: 1rem;
    }
  }
}


// Home | The highest quality feedback

.the-highest-quality-feedback {
  padding: 50px 0 70px 0;
  img {
    max-width: 100%;
    margin: 60px 0 50px 0;
  }
  @media (max-width: 480px) {
    img{
      margin: 40px 0 30px 0;
    }
  }
}


// Home | Join the movement

.join-the-movement {
  background: $section_grey;
  padding: 40px 0 70px 0;
  @media (max-width: 992px) {
    padding: 40px 0 50px 0;
  }
}

.cta-box-wrapper {
  padding: 0px 25px 25px 25px;
  @media (max-width: 400px) {
    padding: 0 0 20px 0;
  }
}

.cta-box {
  padding: 30px 40px 40px 40px;
  h2, p {
    color: #fff;
  }
  h2 {
    margin: 0 0 20px 0;
    font-size: 1.75rem;
  }
  p {
    height: 75px;
  }
  @media (max-width: 1200px) {
    h2 {
      height: 88px;
    }
    p {
      height: 100px;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 20px;
    h2 {
      height: auto;
    }
    p {
      height: auto;
    }
  }
  @media (max-width: 480px) {
    h2 {
      margin: 0 0 20px 0;
      font-size: 1.4rem;
    }
    .btn {
      width: 100%;
    }
  }
  @media (max-width: 400px) {
    padding: 30px 30px 40px 30px;
  }
}

.cta-box-teal {
  background-color: $color_accent;
}

.cta-box-red {
  background-color: $color_primary;
}


// Post idea | Think you have a $1,000,000 idea?

.million-idea {
  padding: 190px 0 160px 0;
  h1 {
    font-size: 3.25rem;
  }
  h3 {
    margin-bottom: 35px;
  }
  @media (max-width: 992px) {
    padding: 140px 0 100px 0;
    background-position: right;
    h1 {
      font-size: 2.8rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
  &:after {
    background-image: image-url("million_idea_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
  }
  @media (max-width: 990px) {
    background-color: rgba(200,200,200,.4);
    &:after {
      background-position: right;
      opacity: 0.4;
    }
  }
  @media (max-width: 768px) {
    padding: 130px 0 100px 0;
  }
  @media (max-width: 415px) {
    padding: 90px 0 80px 0;
  }
  @media (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

.post-idea-video {
  text-align: left;
  padding-right: 30px;
  p {
    font-size: 1.23rem;
    padding: 0 10px;
    font-weight: 300;
  }
  .video-wrapper {
    margin: 0 0 25px 0;
    iframe {
      border: 10px solid #fff;
    }
  }
  @media (max-width: 992px) {
    padding-right: 15px;
    margin-bottom: 60px;
  }
}

.video-wrapper {
  margin: 40px 0;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 58%;
  background-color: #000;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.post-idea-form {
  h3 {
    margin-top: 0;
  }
  padding-left: 30px;
  #{$field_types} {
    @extend .appearance-none;
    @include placeholder('#A9A9A9');
    margin-bottom: 25px;
    width: 100%;
    padding: 18px 26px;
    border: 0;
    background-color: $section_grey;
    &:focus {
      outline: 2px solid #6fbbc4;
    }
  }
  select {
    background-image: image-url('dropdown_icon.png');
    background-repeat: no-repeat;
    background-position: right 35px top 28px;
    cursor: pointer;
    padding: 18px 23px;
    color: #A9A9A9;
  }
  .form {
    .btn {
      width: 100%;
      padding: 20px 34px;
      background-color: #23c4eb;
      &:hover {
        background-color: #2FC8EC;
      }
      &:focus, &:active {
        background-color: #24B1D2;
      }
    }
  }
  .well {
    border-radius: 0;
    a {
      font-weight: 600;
    }
    h3 {
      margin-top: 20px;
    }
    p {
      font-size: 1.125rem;
      text-align: left;
      font-weight: 300;
    }
    .btn {
      margin: 20px 0 25px 0;
    }
  }
  @media (max-width: 992px) {
    padding-left: 15px;
  }
}


// About | Masthead

.about-masthead {
  @extend .rocket-masthead;
}

// About | Navbar

.about-navbar {
  padding: 35px 0;
  margin: 0;
  li {
    margin: 0;
    padding: 0 2%;
    a {
      color: $medium_grey;
      &:hover, &:active, &:focus, &.active {
        color: $color_primary;
        border-bottom: 2px solid;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 992px) {
    li {
      padding: 0 1%;
    } 
  }
  @media (max-width: 800px) {
    li {
      padding: 0 5px;
    } 
  }
  @media (max-width: 768px) {
    li {
      padding: 10px 0;
      display: block;
    } 
  }
}


// About | What is Mount Dream?

.about {
  @extend .section;
  padding: 5px 0 60px 0;
  h1 {
    margin-bottom: 40px;
  }
  p {
    font-size: 1.125rem;
    a {
      font-weight: 600;
    }
  }
  h4 {
    a {
      font-weight: 600;
    }
  }
  h4 + h4 {
    margin-top: 40px;
  }
  h3 {
    margin: 40px 0 25px 0;
  }
  .text-center + h4 {
    margin-top: 20px;
  }
  .well {
    margin: 30px 0;
    span {
      font-weight: 600;
    }
  }
  .container {
    max-width: 980px;
  }
  @media (max-width: 768px) {
    h4 {
      font-size: 1.1rem;
    }
    h4 + h4 {
      margin-top: 25px;
    }
    p {
      font-size: 1rem;
    }
  }
  @media (max-width: 480px) {
    h4 {
      font-size: 1rem;
    }
    h4 + h4 {
      margin-top: 20px;
    }
  }
}


// About | The old way

.about-the-old-way {
  padding: 0 0 30px 0;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
  .container {
    max-width: 1050px;
  }
}


// About | Talking to customers

.about-talking-to-customers {
  padding: 0 0 60px 0;
  overflow: hidden;
  .container {
    max-width: 910px;
  } 
  h1 {
    margin-bottom: 50px;
  }
  .one, .two, .three {
    padding: 10px 0;
    text-align: left;
    span {
      font-weight: 600;
    }
    .step {
      position: relative;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
      }
    }
  }
  .one {
    .step {
      img {
        left: -240px;
        bottom: 30px;
      }
    }
  }
  .two {
    .step {
      img {
        right: -240px;
        bottom: 15px;
      }
    }
  }
  .three {
    .step {
      img {
        left: -240px;
        bottom: 15px;
      }
    }
  }
  @media (max-width: 992px) {
    .one, .three {
      .step {
        img {
          left: -290px;
          bottom: 15px;
        }
      }
    }
    .two {
      .step {
        img {
          right: -280px;
          bottom: 25px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0 0 40px 0;
    h1 {
      margin-bottom: 20px;
    }
    .one, .two, .three {
      padding: 25px 0;
      .step {
        img {
          margin: auto;
        }
      }
    }
    .one, .three {
      .step {
        img {
          left: -230px;
          bottom: 15px;
        }
      }
    }
    .two {
      .step {
        img {
          right: -230px;
          bottom: 15px;
        }
      }
    }
  }
}


// About | Mission

.about-mission-wrapper, .about-philosophy-wrapper, .about-culture-wrapper, .about-story-wrapper {
  display: none; // Remove this to work properly in the live app
}

.about-philosophy {
  h1 {
    margin-bottom: 40px;
  }
  .bonus-form {
    max-width: 490px;
    margin: 30px auto 20px auto;
  }
  .form-heading {
    margin-top: 50px;
    text-align: center;
  }
}


// Login

.login-wrapper {
  background-color: $lighter-grey;
}

.login {
  padding: 96px 0 0 0;
  overflow: hidden;
  @media (max-width: 400px) {
    padding: 63px 0 0 0;
  }
}

.login-btn-wrapper {
  overflow: hidden;
  position: relative;
  width: 270px;
  margin: 30px auto;
  .btn {
    width: 100%;
    padding-left: 84px;
    &.facebook {
      background-color: rgba(46,75,136,0.9);
      &:hover {
        background-color: rgba(46,75,136,0.8);
      }
      &:focus, &:active {
        background-color: rgba(46,75,136,1);
      }
    }
    &.linkedin {
      background-color: rgba(26,124,179,0.9);
      &:hover {
        background-color: rgba(26,124,179,0.8);
      }
      &:focus, &:active {
        background-color: rgba(26,124,179,1);
      }
    }
  }
  i {
    position: absolute;
    left: 17px;
    top: 12px;
    font-size: 1.8rem;
    opacity: 0.4;
    &.fa-facebook {
      top: 13px;
      left: 20px;
    }
  }
  .divider {
    height: 100%;
    width: 1px;
    border-right: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 57px;
  }
  @media (max-width: 400px) {
    width: 260px;
    .btn {
      padding: 15px 21px 15px 75px;
    }
  }
}


// Contact Customer Care

.contact-customer-care {
  background-color: $color_primary;
  padding: 96px 0 0 0;
  background-image: image-url('rocket_bg.png');
  background-position: 95% 100%;
  background-repeat: no-repeat;
  .container {
    .well-hero {
      max-width: 650px;
      margin: 90px auto 90px auto;
      @media (max-width: 1150px) {
        padding: 40px 40px 90px 40px;
        background-image: image-url('rocket_bg_teal.png');
        background-size: auto 18%;
        background-position: 100% 100%;
        background-repeat: no-repeat;
      }
      @media (max-width: 450px) {
        background-size: auto 14%;
      }
      @media (max-width: 400px) {
        margin: 0 auto 0 auto;
        padding: 0 0 70px 0;
      }
    }
  }
  @media (max-width: 1150px) {
    background-image: none;
  }
  @media (max-width: 400px) {
    background-color: #fff;
  }
}


// Terms, Privacy

.terms, .privacy, .article {
  padding: 140px 0 70px 0;
  h1, h2 {
    text-align: center;
  }
  h1 + h2, h1 + h3, h1 + p {
    margin-top: 50px;
  }
  h1 + hr {
    margin-top: 30px;
  }
  hr + h2 {
    margin-top: 50px;
  }
  h2 + p {
    margin-top: 30px;
  }
  h2 + h3 {
    margin-top: 30px;
  }
  p + h2 {
    margin-top: 50px;
  }
  p + h3 {
    margin-top: 40px;
  }
  p {
    margin-bottom: 25px;
  }
  ul {
    margin-bottom: 30px;
    li {
      margin-left: 30px;
      padding: 2px 0;
    }
  }
  p + ul {
    margin-top: -15px;
  }
  @media (max-width: 400px) {
    padding: 100px 0 60px 0;
  }
}


// Give feedback | Give feedback Masthead

.give-feedback-masthead {
  @extend .picture-masthead;
  @extend .login-masthead;
  .login-wrapper {
    margin-left: -20px;
  }
  background-image: image-url('give_feedback_masthead_bg.jpg');
  h3 {
    margin-bottom: 30px;
  }
  @media (max-width: 430px) {
    .container {
      padding: 0;
    }
    .login-wrapper {
      margin-left: 0;
    }
  }
}

.give-feedback-how-mount-dream-works {
  @extend .icons-section;
}

.give-feedback-what-our-members-say {
  background-color: $section_grey;
  .img-rounded {
    width: 60%;
    height: auto;
    margin: 25px auto 0 auto;
  }
  .members-say-description {
    text-align: left;
  }
  @media (max-width: 1200px) {
    .img-rounded {
      width: 70%;
      margin: 30px auto 0 auto;
    }
  }
  @media (max-width: 992px) {
    .container {
      text-align: center;
      max-width: 700px;
      padding: 0 40px;
    }
    .members-say-description {
      text-align: center;
    }
    .img-rounded {
      width: 40%;
      margin: 0px auto 20px auto;
    }
  }
  @media (max-width: 480px) {
    .img-rounded {
      width: 60%;
    }
  }
}

.give-feedback-how-to-get-started {
  @extend .icons-section;
  @media (max-width: 992px) {
    .container {
      max-width: 700px;
      padding: 0 40px;
    }
  }
}

.give-feedback-start-giving-feedback-now {
  @extend .picture-masthead;
  @extend .login-masthead;
  padding: 50px 40px 80px 40px;
  background-image: image-url('give_feedback_footer_bg.jpg');
  .login-btn-wrapper {
    display: inline-block;
    float: none;
  }
  .container {
    padding: 0;
  }
  h1 + h3 {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    padding: 50px 40px 70px 40px;
  }
}



// Help

.help-masthead {
  @extend .rocket-masthead;
  .container {
    padding: 147px 15px 67px 15px;
  }
}

.help-center {
  padding: 60px 0;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}

.help-center {
  .main-content {
    width: calc(100% - 335px);
    padding: 0 40px 0 15px;
    h1 + hr {
      margin: 30px 0; 
    }
    h1, h2 {
      text-align: center;
    }
    .faq-tab {
      h2 {
        cursor: pointer;
        margin: 10px 0 10px -15px;
        position: relative;
        &:hover {
          opacity: 0.8;
        }
      } 
      i {
        position: absolute;
        top: 15px;
        font-size: 1.3rem;
      }
    }
    .questions {
      display: none;
      padding: 15px 10px 0px 10px;
      text-align: left;
    }
    .question {
      margin-bottom: 25px;
      p {
        margin-top: -5px;
      }
      ul {
        li {
          padding: 0;
        }
      }
    }
    form {
      margin: 40px auto 30px auto;
    }
    @media (max-width: 992px) {
      .well {
        h2 {
          font-size: 1.5rem; 
        }
        i {
          font-size: 1.2rem;
          top: 11px;
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    @media (max-width: 480px) {
      .well {
        h2 {
          font-size: 1.1rem; 
        }
        i {
          top: 8px;
          font-size: 1rem;
        }
      }
    }
  }
}
 
.help-center {
  .sidebar {
    width: 325px;
    margin: 20px 0;
    padding: 0 15px 0 0;
    nav {
      position: absolute;
      width: 325px;
      padding: 15px 30px 15px 30px;
      margin: 0;
      .btn {
        width: 100%;
      }
      &.static {
        position: static;
      }
      &.fixed {
        position: fixed;
      }
    }
    ul {
      li {
        list-style: none;
        margin-left: 0;
      }
    }
    h3 + p {
      margin-top: 20px;
    }
    .btn {
      margin: 15px 0 25px 0;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 0 15px 0 15px;
      margin: 0px 0 50px 0;
      h3 {
        font-size: 1.4rem;
      }
      h3 + p, p + h3 {
        margin-top: 30px;
      }
      hr {
        margin: 50px 0;
      }
      nav {
        text-align: center;
        width: 100%;
        .btn {
          width: auto;
          text-align: center;
          margin: 20px 0 30px 0;
        }
      }
    }
    @media (max-width: 400px) {
      h3 {
        font-size: 1.2rem;
      }
      nav {
        .btn {
          width: 100%;
        }
      }
    }
  }
}

.help-breadcrumbs {
  margin: 20px 0 50px 0;
  p, a {
    padding: 0;
    margin: 0;
  }
  hr {
    margin: 10px 0;
  }
}


// Footer 

.footer {
  p, a, h4 {
    color: $light_grey;
  }
  a {
    &:hover, &:focus, &:active {
      color: $light_grey_active;
      text-decoration: none;
    }
  }
  h4 {
    font-size: 1.125rem;
  }
}

.footer-main {
  padding: 70px 0;
  background-color: #313131;
  @media (max-width: 992px) {
    padding: 60px 0;
  }
}

.contact {
  margin-top: 0px;
  img {
    width: 200px;
    margin: 0 0 25px 10px;
  }
  h4 {
    font-weight: 700;
  }
  @media (max-width: 1200px) {
    margin-top: 10px;
    img {
      margin: 0 0 40px 10px;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 55px;
    img {
      width: 220px;
    }
  }
}

.footer-center {
  padding: 0 30px;
}

.subscription {
  margin: 0 auto 20px auto;
  max-width: 490px; 
  h4 {
    margin: 0 0 30px 0;
  }
  @media (max-width: 1200px) {
    .btn {
      padding: 15px 23px;
    }
  }
  @media (max-width: 992px) {
    margin-bottom: 60px;
    .btn {
      padding: 15px 34px;
    }
  }
}

.subscription-form {
  input {
    width: 100%;
  }
  input[type="text"] {
    @include transition(all, 0.2s, ease-out);
    @include placeholder($color_primary);
    @include placeholder_icon('\f003    ');
    background: none;
    padding: 12px 22px;
    border: 2px solid $color_primary;
    border-radius: 4px;
    text-overflow: ellipsis;
    &:focus {
      background-color: #fff;
    }
  }
  .subscription-text-field {
    padding-right: 0;
  }
  @media (max-width: 768px) {
    .subscription-text-field {
      padding-right: 15px;
    }
  }
}

.social {
  margin-bottom: 30px;
  li {
    margin-left: 0px;
    padding: 0 8px;
    font-size: 1.875rem;
  }
}

.footer-navbar {
  margin: 0;
  li {
    margin: 0;
    padding: 0 5% 0 0;
    &:last-child {
      padding: 0;
    }
  }
  a {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  @media (max-width: 1200px) {
    li {
      padding: 0 2% 0 0;
    }
  }
  @media (max-width: 992px) {
    li {
      padding: 0 4% 0 0;
    }
    margin-bottom: 20px; 
  }
  @media (max-width: 620px) {
    li {
      display: block;
      padding: 5px 15px;
    }
  }
}

.kickstarter {
  margin-top: 10px;
  img {
    margin-top: 45px;
    width: 140px;
    @media (max-width: 992px) {
      width: 150px;
    }
  }
}

.footer-copy {
  padding: 29px 0;
  background-color: #e7e6e6;
  color: #656565;
  p {
    margin: 0;
    font-size: 0.95rem;
  }
  p, a {
    color: $grey;
  }
  a {
    &:hover, &:focus, &:active {
      color: $grey_active;
    }
  }
}